:root {
  --light-bg-color: #525252;
  --light-secondary-bg-color: #969696;
  --light-tertiary-bg-color: #7f7f7f;

  --text-color-dark: #333;

  --highligted-items-bg: #543400;
  --svc-business-mark-bgcolor: #543400;
  --highligt-items-border: #895400;

  --border-100-color: #7e7e7e;
  --border-200-color: #767676;
  --border-300-color: #676767;
  --border-400-color: #5e5e5e;

  --inputs-bg-color: #333333;
  --inputs-border-color: #666666;

  --link-hover-color: color-mix(in srgb, var(--links-color) 80%, white 20%);
  --text-hover-color: color-mix(in srgb, var(--text-color) 80%, white 20%);

  --icons-color: #999;
  --muted-icons-color: #fbfbfb;
}
/* Inputs focus changes text color */
.form-control {
  color: var(--text-color) !important;

  &:focus {
    border-color: var(--text-color) !important;
    box-shadow: 0 0 4px var(--text-color) !important;
  }
}
/* Borders inside white boxes need to be darken */
.c-white-box {
  --border-100-color: var(--border-400-color);
}
/* --light-secondary-bg-color, --light-tertiary-bg-color need to be darken */
.c-grey-bg {
  .container {
    --light-secondary-bg-color: var(--border-300-color);
    --light-tertiary-bg-color: var(--border-300-color);
  }
}
/* Sliders arrows backgrounds needs to be darken */
.c-arrow, .lSPrev, .lSNext {
  background-color: var(--border-300-color);
}
/* Items images need background-color change */
.c-item-img-box,
.cp-best-company-item-pic,
.cp-sm-l {
  background-color: var(--light-secondary-bg-color) !important;
}
/* Text in alerts needs to be inverted */
.alert {
  .alert-message,
  .text-color {
    color: var(--text-color-dark) !important;
  }
}